.page {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #303030;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}