.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary);
    color: #FFF;
}

.menu {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #FFFF;
}

.menu:hover {
    color: #FFF !important;
}